

<!-- div.row>div.col-md-5+div.col.md-7 -->

<div class="row">
    <div class="col-md-5">
        <h2>Create User</h2>
        <form action="#" [formGroup]="createForms" (ngSubmit)="onSubmit()">
            <!-- [formGroup]="this.fdiService.form" -->
            <!-- <input type="hidden" formControlName="$key"> -->
            <div class="form-group">
                <label for="name">Name: </label>
                <input id="name" formControlName="name" class="form-control" type="text">
                <!-- <input formControlName="name" class="form-control" [ngClass]="{'is-invalid': submitted && formControls.name.errors}">
                <div class="invalid-feedback" *ngIf="submitted && formControls.name.errors">
                    This field is required
                </div> -->
            </div>
            <div class="form-group">
                <label>Email: </label>
                <input formControlName="email" class="form-control" type="email">
            </div>
            <div class="form-group">
                <label>Password: </label>
                <input formControlName="password" class="form-control" type="password">
            </div>&nbsp;
            <div class="form-group">
                <button type="submit" class="btn btn-primary" value="Submit">Submit</button>
            </div>
        </form>
    </div>
    <div class="col md-7">
        <app-list></app-list>
    </div>
</div>