<div class="content" role="main">
<h2>List of Users</h2>



<table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
      </tr>
    </thead>
    <tbody *ngFor="let ans of userData_json">
      <tr>
        <th scope="row">{{ans.id}}</th>
        <td>{{ans.name}}</td>
        <td>{{ans.email}}</td>
      </tr>
    </tbody>
  </table>
</div>