<div class="content" role="main">
  <h2>API Test</h2>
  <p></p>

  <div class="card-container">
    <a class="card" routerLink="/list">
      <span>List of Users</span>
    </a>

    <a class="card" routerLink="/create">
      <span>Create User</span>
    </a>
  </div>
</div>
